.footerMain {
  position: relative;

  /* height: 120vh; */
  /* height: 150vh; */
  /* display: flex;
  align-items: center; */
}
.footerMainImg {
  position: absolute;
  /* opacity: 0.6; */
  min-height: 170vh;
  width: 100vw;
  background: url("../../Assets/Footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.imgLogoFooter {
  width: 10%;
}
.footerContent {
  position: relative;
  padding-top: 4rem;
}
.colsFooter {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding: 0 6rem;
}
.h2footer {
  font-size: 1.5rem;
  color: white;
  letter-spacing: 8px;
}
.h1footer {
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
}
.pFooter {
  width: 40vw;
  color: white;
  margin-top: 1rem;
}

.contactInfoFooter {
  display: flex;
  align-items: center;
  /* width: 20vw; */
  margin: 1rem 0;
}
.iconDiv {
  border: 2px solid white;
  padding: 1rem;
}
.h2sendMessageFooter {
  color: white;
  font-size: 1.7rem;
}
.strongFooterEnd {
  text-align: center;
  color: white;
}
.inputFieldsFooter {
  background-color: transparent;
  color: white;
  border: none;
  outline: none;

  /* width: 20vw; */
  margin: 1rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.389);
}
.inputFieldsFooter::placeholder {
  color: rgba(255, 255, 255, 0.389);
}
.footerSubscribeInput {
  /* height: 60px; */
  padding: 1rem 2rem;
  border: none;
  outline: none;
  border-radius: 12px 0 0 12px;
}
.btnSubscribeFooter {
  padding: 1rem 2r20vwem;
  border: none;
  border-radius: 0 12px 12px 0;
  background: linear-gradient(to right, #01a6fd 0%, #17d0cf 51%, #01a6fd 100%);
  color: white;
  width: 12vw;
}
@media (max-width: 963px) {
  .h1footer {
    font-size: 2.5rem;
  }
}

@media (max-width: 866px) {
  .colsFooter {
    padding: 0 3rem;
  }
  .h2footer {
    font-size: 1rem;
  }
  .h1footer {
    font-size: 2rem;
  }
}

@media (max-width: 767px) {
  .pFooter {
    width: auto;
  }
  .footerMain {
    height: auto;
    background-color: #4385ca;
    margin-top: 6rem;
  }
  .colsFooter {
    height: auto;
  }
  .mainHeadingFooter {
    margin-top: 2rem;
  }
  .imgLogoFooter {
    width: 15%;
    margin-top: 2rem;
  }
}

@media (max-width: 475px) {
  .colsFooter {
    padding-top: 6rem;
  }
  .strongFooterEnd {
    font-size: 10px;
  }
}
@media (max-width: 960px) {
  .footerSubscribeInput {
    width: 60vw;
  }
  .btnSubscribeFooter {
    width: 20vw;
  }
}

@media (max-width: 460px) {
  .btnSubscribeFooter {
    font-size: 12px;
  }
  .copyRightsFooter {
    font-size: 10px;
  }
}
@media (max-width: 460px) {
  .h2sendMessageFooter {
    font-size: 1.5rem;
  }
  .imgLogoFooter {
    width: 20%;
    margin-top: 4rem;
  }
}
