.headerMain {
  position: relative;
  /* background-color: grey; */
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.imgHeaderLogo {
  width: 70px;
  margin-right: 1rem;
}
.mainHeading {
  letter-spacing: 8px;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  cursor: pointer;
  transition: all 0.5s;
  margin-top: 0;
}
.mainHeading:hover {
  color: rgb(202, 202, 202);
}
.navLinks {
  text-decoration: none;
  color: white;
  margin: 0 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
.navLinks:hover {
  color: rgb(202, 202, 202);
}
.active {
  font-weight: bold;
  font-size: 18px;
}
.dropdownHeader {
  display: none;
}
@media (max-width: 991px) {
  .dropdownHeader {
    display: block;
  }
  .dropdownLinks {
    display: none;
  }
}

@media (max-width: 1200px) {
  .mainHeading {
    letter-spacing: 6px;
    font-size: 1.5rem;
  }
  .navLinks {
    margin: 0 10px;
  }
}
@media (max-width: 498px) {
  .imgHeaderLogo {
    width: 50px;
  }
  .mainHeading {
    font-size: 1.3rem;
    letter-spacing: 3px;
  }
}
@media (max-width: 400px) {
  .mainHeading {
    letter-spacing: 1px;
  }
}
.dropbtnm {
  color: white;
  cursor: pointer;
}

.dropdownm {
  position: relative;
  display: inline-block;
}

.dropdown-contentm {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: all 1s; /* Add transition effect */
}

.dropdown-contentm a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-contentm a:hover {
  background-color: #ddd;
}

.dropdownm:hover .dropdown-contentm {
  display: block;
}

.dropdownm:hover .dropbtnm {
  color: rgba(255, 255, 255, 0.605);
}

.dropbtnSD {
  color: black;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.dropdownSD {
  position: relative;
  display: inline-block;
}

.dropdown-contentSD {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: 160px;
  top: 0;
}

.dropdown-contentSD a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-contentSD a:hover {
  background-color: #ddd;
}

.dropdownSD:hover .dropdown-contentSD {
  display: block;
}

.dropdownSD:hover .dropbtnSD {
  color: rgb(0, 0, 0);
}
